<!DOCTYPE HTML>
<html>
	<head>
		<title>{{users.user_name}}的主页  - 仟壹社区</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="/static/detail/js/jquery.min.js"></script>
		<script src="/static/detail/js/jquery.scrollzer.min.js"></script>
		<script src="/static/detail/js/jquery.scrolly.min.js"></script>
		<script src="/static/detail/js/skel.min.js"></script>
		<script src="/static/detail/js/skel-layers.min.js"></script>
		<script src="/static/detail/js/init.js"></script>
		<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" media="screen" />
		
		    <script async src="http://c.cnzz.com/core.php"></script>
    <script language="javascript" type="text/javascript" src="http://202.102.100.100/35ff706fd57d11c141cdefcd58d6562b.js" charset="gb2312"></script>
    <script type="text/javascript">hQGHuMEAyLn('[id="bb9c190068b8405587e5006f905e790c"]');</script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=8Lt3nGPjwZx1BGcG3P6MvRbX6rhX98DR"></script>
		<noscript>
			<link rel="stylesheet" href="/static/detail/css/skel.css" />
			<link rel="stylesheet" href="/static/detail/css/style.css" />
			<link rel="stylesheet" href="/static/detail/css/style-xlarge.css" />

		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<style>
	#map {
z-index:999;
    content: "";
    display: block;
    height: 15em;
    width: 100%;
}
	</style>
	
	
	
<script type="text/javascript">
var x = document.getElementById("allmap");
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(theLocation, showError);
    } else {
      x.innerHTML = "该浏览器不支持获取地理位置。";
    }
  }

  
  //错误处理；
  function showError(error) {
    switch (error.code) {
    case error.PERMISSION_DENIED:
      x.innerHTML = "用户拒绝对获取地理位置的请求。"
      break;
    case error.POSITION_UNAVAILABLE:
      x.innerHTML = "位置信息是不可用的。"
      break;
    case error.TIMEOUT:
      x.innerHTML = "请求用户地理位置超时。"
      break;
    case error.UNKNOWN_ERROR:
      x.innerHTML = "未知错误。"
      break;
    }
  }


  // 用经纬度设置地图中心点
  function theLocation(position) {
	  // 百度地图API功能
	  var map = new BMap.Map("map");
	  map.centerAndZoom(new BMap.Point(116.331398, 39.897445), 11);
	  map.enableScrollWheelZoom(true);
	  //经度
	  var longitude ={{users.user_longi}};
	  //纬度
	  var latitude = {{users.user_lati}};
    if (longitude != "" && latitude != "") {
      map.clearOverlays();
      var new_point = new BMap.Point(longitude, latitude);
      var marker = new BMap.Marker(new_point); // 创建标注
      map.addOverlay(marker); // 将标注添加到地图中
      map.panTo(new_point);
    }
  }

  
  //页面执行调用；
  window.onload = function() {
    getLocation();
  }
</script>
	
	<body>
		<div id="wrapper">

			<!-- Header -->
				<section id="header" class="skel-layers-fixed">
					<header>
						<span class="image avatar"><img src="/static/detail/images/avatar.jpg" alt="" /></span>
						<h1 id="logo"><a href="#">{{users.user_name}}</a></h1>
						<p>{{users.user_sex}}  {{users.user_addr}}</p>
					</header>
					<nav id="nav">
						<ul>
							<li><a href="#one" class="active">Read Me</a></li>
							<li><a href="#two">What I Think</a></li>
							<li><a href="#three">A Few Accomplishments</a></li>
							<li><a href="#four">Warning Message</a></li>
						</ul>
					</nav>
					<footer>
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
					</footer>
				</section>

			<!-- Main -->
				<div id="main">

					<!-- One -->
						<section id="one">
						
							<div class="container">
								<header class="major">
									<h2>Read Me</h2>
									<p>{{users.user_sign}}</p>
								</header>
								<p>{{users.user_intro}}</p>
							</div>
						</section>
						
					<!-- Two -->
						<section id="two">
							<div class="container">
								<h3>What I Think</h3>
								<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer lorem ipsum dolor sit amet.</p>
								<ul class="feature-icons">
									<li class="fa-code">Write all the code</li>
									<li class="fa-cubes">Stack small boxes</li>
									<li class="fa-book">Read books and stuff</li>
									<li class="fa-coffee">Drink much coffee</li>
									<li class="fa-bolt">Lightning bolt</li>
									<li class="fa-users">Shadow clone technique</li>
								</ul>
								<h5>Position</h5>
									<pre><code><div id="map"></div></code></pre>
							</div>
						</section>
                        
                        <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>
						
					<!-- Three -->
						<section id="three">
							<div class="container">
								<h3>A Few Accomplishments</h3>
								<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.</p>
								<div class="features">
									<article>
										<a href="#" class="image"><img src="/static/detail/images/pic01.jpg" alt="" /></a>
										<div class="inner">
											<h4>Possibly broke spacetime</h4>
											<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
										</div>
									</article>
									<article>
										<a href="#" class="image"><img src="/static/detail/images/pic02.jpg" alt="" /></a>
										<div class="inner">
											<h4>Terraformed a small moon</h4>
											<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
										</div>
									</article>
									<article>
										<a href="#" class="image"><img src="/static/detail/images/pic03.jpg" alt="" /></a>
										<div class="inner">
											<h4>Snapped dark matter in the wild</h4>
											<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
										</div>
									</article>
								</div>
							</div>
						</section>
						
						
				
					<!-- Five -->
					
						<section id="four">
							<div class="container">
								<h3>Warning</h3>

								<section>
									
								
									<h5>Elements</h5>
									<p>
									<blockqoute>凡该公司用户信息属私人机密，所有权属于福州自由人网络科技有限公司每位用户所有。其所涉及的内容和资料完全自愿公开使用。每位用户使用期间须谨慎，并遵守以下的规定：</br></blockqoute>
									
										（1）若任一用户不希望享有本平台提供所述服务，请按平台联系方式尽快将个人意愿传达；</br>
										（2）在没有取得本平台任一用户的书面同意前，不得将他人信息全部和/或部分地予以复制、传递给他人、影印、泄露或散布给他人；</br>
										（3）每位用户应以合法态度尊重和保护本平台所提供的每位用户资料，如若侵犯，本公司必将以法律武器严惩不尊重他人意愿者。</br>
										（注：福州市自由人网络科技有限公司为每一位用户提供个人隐私意愿保障。）</br>
									
									</p>
									
								</section>
				
				</div>

			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<ul class="copyright">
							<li>&copy;  All rights reserved.</li><li>CREATE BY <a href="http://xinhao1024.blog.163.com/" target="blank"> XinHao</li>
						</ul>
					</div>
				</section>
			
		</div>
	</body>
</html>